<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--   CDN-Content delievery network -->

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="utilities.css">
    <link rel="stylesheet" href="responsive.css">
</head>
<body>
    <!-- SECTION 1 START -->
    <!-- NAV BAR START -->
    <nav class="navbar d-flex">
        <div class="left">
            <img src="IMAGES/logo.jpg" alt="Girl in a jacket" width="50" height="40">
            
        </div>
        <div class="right  ">
            <ul class="navbuttons  d-flex">
                <li><a id="home">Home</a></li>
                <li><a id="about">About us</a></li>
                <li><a href="/login/<%=name%>/chat" id="chatbtn">Chat</a> </li> 
                <li><a target="_blank" id="create-session" href="https://meet.google.com/landing?pli=1">Create session</a></li>
                <li><a  id="join">Join session</a></li>
               
                    <% if(name){ %>
                    <div id="username"><%= name %></div>
                    <% }else{ %>
                        <button id="login">
                            login
                        </button>
                    <% } %>
                   
                    
            </ul>
        </div>
    </nav>
    <!-- NAV BAR ENDS -->

    <!-- IMAGE SECTION START -->
    <div class="home">
        <div class="text-block">
        <h1>The Bridge to<br>
            Academic Excellence </h1>
            <p>Join a community of passionate learners and educators on our<br> immersive virtual study website.</p>
            <div class="meetsearch d-flex">
                <i class="fa-solid fa-magnifying-glass" style="padding: 25px;"></i>        
                <input type="text" placeholder="Search to join study meetings...">
                <button id="search" style="height: 70px">Search</button>
                
            </div>
        </div>
        
    </div>
    <!-- IMAGE SECTION ENDS -->

        <!-- SECTION 1 ENDS -->

        <!-- SECTION 2 START -->
        <!-- SECTION 2 START -->
        <!-- SECTION 2 START -->
        <div id="job" class="main1">
            <h1>Why To Choose !!</h1>
                <p>Over 10000 active users :)</p>
        </div>

        <div class="main2 d-flex">
            <div class="job d-flex d-col">
                <i class="fa-solid fa-desktop fa-2x icon-success"></i>
                <h3>Interactive Learning</h3>
                <p>Engage in interactive learning experiences tailored to various learning styles and preferences.</p> 
            </div>
            <div class="job d-flex d-col">
                <i class="fa-solid fa-head-side-virus fa-2x icon-success"></i>
                <h3>Study Together</h3>
                <p> Customize your learning experience by creating private classes, while also studying effectively with your friends</p> 
            </div>
            <div class="job d-flex d-col">
                <i class="fa-solid fa-book-open-reader fa-2x icon-success"></i>
                <h3>Note Sharing</h3>
                <p>Share your notes with others and collaborate in real-time, fostering a dynamic learning community</p> 
            </div>
        </div>
        <!-- SECTION 2 ENDS -->
        <!-- SECTION 2 ENDS -->
        <!-- SECTION 2 ENDS -->

        <!-- SECTION 3 START -->
        <div id="success-stories" class="main3 " >
            <p style="font-family: Semibold;font-size: 50px;">Global Sessions!</p>
            <p style="font-family: Medium;font-size: 20px;">join our global sessions to study with students world wide</p>
        </div>

        <div class="buttons d-flex">
            <a href="" class="btn" style="background-color: #492268; color: #ffffffda;height: 60px;width: 215px;border: 2px solid ;border-radius: 50px;">Python</a>
            <a href="" class="btn" style="background-color: #18650C; color: #ffffffda;height: 60px;width: 215px;border: 2px solid ;border-radius: 50px;;">Automata Thoery</a>
            <a href="" class="btn" style="background-color: #FF7426; color: #ffffffda;height: 60px;width: 215px;border: 2px solid;border-radius: 50px;;">UI/UX Designers</a>


        </div>

            <!-- PERSON C ENDS -->
        <!-- SECTION 3 ENDS-->

         <!-- SECTION 4 START -->
            
    <div class="cards d-flex" id="Cards">

        <div class="card" style="width: 18rem;" >
            <img src="IMAGES/Group 337.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="padding-bottom: 40px;">Python </h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-success" style="background-color: #FF7426;border-radius: 100px;">Join Session</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="IMAGES/Group 339.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="padding-bottom: 40px;">Automata Theory</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-success" style="background-color: #FF7426;border-radius: 100px;">Join Session</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="IMAGES/image 10.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="padding-bottom: 40px;">UI/UX for Beginners</h5>
              <p class="card-text"> </p>
              <a href="#" class="btn btn-success" style="background-color: #FF7426;border-radius: 100px;">Join Session</a>
            </div>
        </div>
        
       
        
    </div>
      <!-- SECTION 4 ENDS -->

      <!-- SECTION 5 START -->
      <div class="advertise">
        <div class="text-block2">
        <h1>Premium <span style="color: #FF7426;">Learning</span><br>
            Experience
        </h1>
        <div class="card1">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4" style="display: flex; margin-top: 40px;">
                    <img src="IMAGES/Group 371.png" class="img-fluid rounded-start" alt="..." style="height: 100px;width: 100px;">
                    <div class="col-md-8">
                        <h5 class="card-title" style="font-size: 36px;font-family: Roboto;">Easily Accesible</h5>
                        <p class="card-text" style="font-size: 26px;font-family: Roboto;margin-top: 15px;">Study Sync will make learning easily</p>                             
                    </div>
                  </div>

                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4" style="display: flex; margin-top: 40px;">
                    <img src="IMAGES/Group 370.png" class="img-fluid rounded-start" alt="..." style="height: 100px;width: 100px;">
                    <div class="col-md-8">
                        <h5 class="card-title" style="font-size: 36px;font-family: Roboto;">Fun learning experience</h5>
                        <p class="card-text" style="font-size: 26px;font-family: Roboto;margin-top: 15px;">Learning Will fell Very Comfort</p>                             
                    </div>
                  </div>

                  </div>
                </div>
              </div>
        </div>

        
        
        </div>
        
    </div>
      <!-- SECTION 5 ENDS -->
      <!-- SECTION 6 START -->
      

       <!-- SECTION 6 START -->

       <!-- <div class="col-2 bg-light">
        <form class="d-flex d-col" method="post" action="/signup" id="signupForm">
            <label for="name">Full Name</label>
            <input name="name" type="text" id="name">
            <label for="email">E-mail</label>
            <input name="email" type="text" id="email1">
            <label for="password">Password</label>
            <input name="password" type="password" id="password1">
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
        
    </div> -->
    <div class="col-2 bg-light" id="loginFormContainer">
        <form action="/login" method="post" class="d-flex d-col" id="login">
            <label for="email">E-mail</label>
            <input name="email" type="text" placeholder="Enter email ">
            <label for="password">Password</label>
            <input name="password" type="text" placeholder="Enter Password   ">       
            <button type="submit" class="btn btn-submit">Submit</button>
            <p class="signup">Don't have an account ? Sign up</p>
        </form>
    </div> 

    <div class="col-3 bg-light">
        <form action="/signup" method="post" class="d-flex d-col" id="signupForm"> <!-- Corrected id attribute -->
            <label for="name">Full Name</label>
            <input name="name" type="text" id="name">
            <label for="email">E-mail</label>
            <input name="email" type="text" id="email">
            <label for="password">Password</label>
            <input name="password" type="password" id="password">
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
        
    </div>

      <!-- SECTION 6 ENDS -->
      <!-- FOOTER START -->
     
      <!-- SECTION 6 ENDS -->
      <div>
        <footer>
        <img id="review-img" src="IMAGES/review.png" alt="Write a review">
        </footer>
    </div> 

    <footer id="footer">
    <div class="right">
        Our platform offers a range of features designed to enhance your learning journey. From tailored private classes that cater to your unique learning goals and pace, to global classes that connect you with students from around the world.
    </div>

    <div class="middle">
          Salutation </br>
          Thank you for choosing StudySync as your trusted partner in education. We are committed to providing you with an unparalleled learning experience that empowers you to reach your goals and beyond. Join our diverse community of learners and educators, and let's embark on this journey of discovery together. Start your next chapter with StudySync today and unlock a world of knowledge, growth, and endless possibilities.
    </div>

    <div class="right">
          Contact Info </br>
          +91-8591378405 </br>
          <a href="https://mail.google.com/">studysync@gmail.com</a> </br>
          Datta Meghe college of engineering, Airoli
    </div>

    <div id="copyright-text">
          Copyright &copy; 2023 StudySync
    </div>
    </footer>
      <!-- FOOTER ENDS -->
      <script src="index.js"></script>
      <script>
       
    </script>
    
     

</body>
</html>